<!DOCTYPE html>
<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
    <head>
        <title>Restaurant Data</title>
    </head>
    <body>
        <h1>Restaurants Closest to You</h1>
        <div class="postcode-form">
            <form id="postcodeForm" method="GET">
                {% csrf_token %}
                <label for="postcode">Enter your Postcode:</label><br>
                <input type="text" id="postcode" name="postcode"><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        <script>
            document.getElementById('postcodeForm').addEventListener('submit', function(event){
                event.preventDefault();
                const postcode = document.getElementById('postcode').value.trim();
                window.location.href = `/restaurant_list/${postcode}/`;
            });
        </script>
    </body>
</html>